$primary5: #555;
$primary3: #333;
$primary2: #222;


* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #111;
}

/* Classes específicias para cores */
.dark {
  background: url("./img/bg1.png");
}

.purple {
  background: rebeccapurple url("./img/bg2.png");
}

/* Imports */
@import "./salute";
@import "./name";
@import "./job";
@import "./projects";

/* 33:00 */